<h2>Editar Prato</h2>

<div class="contPage">
	<fieldset class="field">
		<legend>Dados</legend>
		<%= render 'form', prato: @prato %>

		<%= link_to 'Cancelar', pratos_path , :class =>"btn btnRed iconCancel"%>
	</fieldset>
</div>
