/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{background-color: rgba(223, 0, 9, 0.67);}
.bodyTitle{color: #ffffff; text-align: center; margin: 10px 0; font-size: 2em; font-family: Times New Roman;}
.main{width: 80%; margin-left: 10%; background-color: #ffffff; min-height: 500px; padding: 2px 5px;}

/* MENU */
.menu{border: 2px solid #6e6a6b; background-color: #e7e1e4; padding: 0; margin-left: 0;}
.menu .menuItem{display: inline-block; padding: 4px 0;}
.menu .menuItem a{text-decoration: none; color: #000; padding: 5px 10px;}
.menu .menuItem a:hover{background-color: #6e6a6b; color: #ffffff;}

/* FORMULARIOS */
.contPage{padding: 5px 40px;}
.field{border: 3px solid #000000;}
.form{width: 70%; padding: 3px 40px;}
.form input[type='text']{width: 97%; margin-bottom: 7px; padding: 2px; border: 2px solid #000000;}
.form input[type='number']{width: 40%; margin-bottom: 7px; padding: 2px; border: 2px solid #000000;}
.form select{width: 97%; margin-bottom: 7px; padding: 2px; border: 2px solid #000000;}
.form input[type='submit']{margin-top: 3px;}

/* BOTOES */
.btn{padding: 3px 5px 3px 30px; border: 2px solid #4b4b4b; box-shadow: 2px 3px 0 #000; font-weight: 600; color: #ffffff; text-decoration: none; float: left; margin-right: 50px; font-size: 14px; cursor: pointer;}
.btn:hover{box-shadow: 3px 2px 2px #000 inset;}

.btn.btnGreen{background-color: #24bf24;}
.btn.btnBlue{background-color: #1f57f2;}
.btn.btnRed{background-color: #f60400;}

/* BTN ICON */
.iconSearch{background-image: url("iconSearch.png"); background-repeat: no-repeat; background-position: 8px; background-size: 18px;}
.iconAdd{background-image: url("iconAdiciona.png"); background-repeat: no-repeat; background-position: 8px; background-size: 18px;}
.iconRemove{background: url("iconRemove.png") 15px no-repeat; background-size: 15px;}
.iconEdit{background: url("iconEdit.png") 15px no-repeat; background-size: 15px;}
.iconCancel{background: url("iconCancelar.png") 8px no-repeat; background-size: 18px;}
.iconSave{background: url("iconSalvar.png") 8px no-repeat; background-size: 18px;}
/* DIV */
.divForm{display: block; width: 100%; margin-bottom: 15px; float: left;}
.divOver{background-color: #e7e2e3; border: 3px solid #000000; overflow: hidden; overflow-y: auto; max-height: 200px;}