// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main > h1{text-align: center; font-size: 1.5em;}
.imgHome{width: 300px; height: 200px; margin: 5% 0 5% 35%;}